<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark mb-5">
  <a href="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-lg"></i></a>
  <div class="logo-nav">
    <a class="navbar-brand" href="/">Avengers</a>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a routerLinkActive="active" class="nav-item nav-link active" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/avenger-table">List Avengers</a>
    </div>
  </div>
</nav>

<!-- Sidebar -->
<div class="col-md-3 col-xs-1 p-l-0 p-r-0 collapse in" id="sidebar">
  <h4 class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-hand-peace-o"></i>Your
    Avengers:</h4>
  <ul *ngFor="let avenger of avengers" class="list-group panel">
    <li href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-id-card-o"></i>
      <span class="hidden-sm-down">{{avenger.name}}</span></li>
  </ul>
</div>