/* Hide Loading Info */

.hide {
  display: none;
}

/* .table {
  margin: 0 auto;
  width: 60%;  
} */

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

/* Filter Controls */
.search-div {
  margin: 5px;
}

.search-form-field {
  width: 30%;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
  display: none;
}

.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}
