<div class="container" *ngFor="let hero of heroes">
  <mat-card class="hero-card">
    <mat-card-header>
      <mat-card-title>{{hero.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{hero.image}}" alt="alt">
    <mat-card-content>
      <p>
        {{hero.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>FAVORITE</button>
      <button mat-button>REMOVE FROM FAVORITES</button>
    </mat-card-actions>
  </mat-card>
  <br />
</div>